.Navbar{
    background-color: black;
    display: none;
    border-top: 3px solid rgb(111, 111, 111);
    box-shadow: 5px 5px 10px rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    position: fixed;
    bottom: 0;
    z-index: 90000000;
    gap: 10px;

    a{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 8px 10px;
        border-radius: 30px;
        transition: all .3s linear;
    }

    .Navbar__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        a{
            svg{
                height: 25px;
                width: 25px;
            }
        }

        a:hover{
            background-color: rgb(85, 85, 85);
        }
    }
}
/*---------------------- MOBILE VERSION----------------------*/
@media screen and (max-width: 768px){
    .Navbar{
        display: block;
    }
}
/* ----------- TABLET DEVICES----------- */
@media only screen and (max-width: 768px ) and (max-width:1023px){
    .Navbar{
        display: block;
    }
}
/* ----------- LAPTOP DEVICES----------- */
@media only screen and (max-width: 1024px ) and (max-width:1439px){
    .Navbar{
        display: block;
    }
}
/* ----------- DESCKTOP DEVICES----------- */
@media only screen and(max-width: 1440px ){
}